@font-face {
    font-family: 'Name';
    src: url(assets/fonts/name/degrassi.ttf);
}
@font-face {
    font-family: 'Links';
    src: url(assets/fonts/links/stormfaze.regular.ttf);
}

body {
    background: url("assets/background.png");
    background-size: contain;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

img {
    border: 1px solid rgba(24, 45, 161, 0.938);
    /* border-radius: 50%; */
}   .portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    height: auto;
    max-width: 150px;
}

.name {
    font-family: 'Name';
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.links {
    display: block;
    font-family: 'Links';
    text-align: center;
    font-size: 20px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid rgba(24, 45, 161, 0.938);
    border-width: 2px;
    width: 300px;
    color: rgb(0, 0, 0);
    transition: color 1s; 
    text-decoration: none;
    /* background-color: rgba(101, 206, 59, 0.644); */   background: rgb(101,206,59);
    background: linear-gradient(90deg, rgba(101,206,59,0.75) 0%, rgba(41,113,13,1) 50%, rgba(101,206,59,0.75) 100%);  
}   .links:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.623);
}

.socials {
    text-align: center;
    font-size: 20px;
    margin-top: 18px;
    padding: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-width: 4px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    color: rgb(39, 38, 38);
    transition: color 250ms; 
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.68);
}   .socials:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.623);
}

.bottom-text {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 20px;
}   p.bottom-text {
    font-size: 14px;
}   .email {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255);
    text-decoration: none;
}

.sitesbysamchambers {
    text-align: center;
    padding-bottom: 15px;
}   .samchambers {
    font-weight: bold;
    color: rgba(255, 255, 255);
    text-decoration: underline;
}